In [1]:
import os
import csv

In [2]:
path = os.path.join("budget_data.csv")

with open(path) as budget_data:
    # using the csv.reader method to read the data
    reader = csv.reader(budget_data)
    # skipping the first row because it's not valuable for our analysis
    header = next(reader)
    # set a counter before the for loop, put it inside the for loop and let it add 1 at every iteration
    Total_month = 0
    for row_of_data in reader:
        #print(row_of_data[2])  
          Total_month += 1
    
print (Total_month)

86

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("budget_data.csv")

df.head()

     Date  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503

In [5]:
x=0
for i in df['Profit/Losses']:
    x+=i
print(x)

38382578

In [6]:
df['PPl']= df['Profit/Losses'].shift(1)
df.head()

     Date  Profit/Losses       PPl
0  10-Jan         867884       NaN
1  10-Feb         984655  867884.0
2  10-Mar         322013  984655.0
3  10-Apr         -69417  322013.0
4  10-May         310503  -69417.0

In [7]:
df['PC']=df['Profit/Losses']-df['PPl']
df.head()

     Date  Profit/Losses       PPl        PC
0  10-Jan         867884       NaN       NaN
1  10-Feb         984655  867884.0  116771.0
2  10-Mar         322013  984655.0 -662642.0
3  10-Apr         -69417  322013.0 -391430.0
4  10-May         310503  -69417.0  379920.0

In [8]:
Total_PC=df['PC'].sum()
Total_PC

-196785.0

In [9]:
AVG_change= Total_PC/(Total_month-1)
AVG_change

-2315.1176470588234

In [10]:
Greatest_increase_index= df['PC'].idxmax()
Greatest_increase_index

25

In [11]:
Greatest_increase= df['PC'][df['PC'].idxmax()]
Greatest_increase

1926159.0

In [12]:
Greatest_increase_date = df['Date'][25]
Greatest_increase_date

'12-Feb'

In [13]:
Greatest_decrease_index= df['PC'].idxmin()
Greatest_decrease_index

44

In [14]:
Greatest_decrease_date = df['Date'][44]
Greatest_decrease_date

'13-Sep'

In [15]:
Greatest_decrease= df['PC'][df['PC'].idxmin()]
Greatest_decrease

-2196167.0

In [16]:
print ("Total Month is :",Total_month)

Total Month is : 86

In [17]:

print(f"Greatest Increase in Profits: {Greatest_increase_date} (${str(Greatest_increase)})")

print(f"Greatest Decrease in Profits: {Greatest_decrease_date} (${str(Greatest_decrease)})")

Greatest Increase in Profits: 12-Feb ($1926159.0)
Greatest Decrease in Profits: 13-Sep ($-2196167.0)